.projects-container{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px; /* Espaçamento entre os cartões */
  width: 80%;
  margin: 30px auto; /* Centraliza horizontalmente */
  border: 2px solid green;
}