footer{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

footer img{
    width: 60px;
    margin: 0 15px 0 15px;
}

footer a{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

footer ul{
    display: flex;
    gap: 30px;
}

footer ul li{
    list-style: none;
}

hr{
    opacity: 60%;
}

.copyrigth{
    margin-left: 150px;
    font-size: 1.1rem;
}

.copyrigth a:hover{
    transform: scale(1.01);
}