header{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

header .container-name{
    width: 30%;
    margin-left: 10%;
}

header .container-links{
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 10%;
}

a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


@media (max-width:820px){

    .container-name h3{
        font-size: 1rem;
    }
}

@media (max-width:720px){

    header .container-name{
        width: 40%;
        margin-left: 5%;
    }

    .container-name h3{
        font-size: 0.85rem;
    }

    header .container-links{
        width: 60%;
        gap: 7%;
        font-size: 0.9rem;
    }
}

@media (max-width:470px){

    header .container-name{
        width: 35%;
    }

    .container-name h3{
        font-size: 0.75rem;
    }

    header .container-links a{
        font-size: 0.8rem;
    }
}