.container-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 160px;
    margin-left: 5%;
}

.my-foto {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 350px;
}
  
#animated-foto {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid red;
    position: absolute;
    animation: subirDescer 4.5s ease-in-out infinite;
}
  

@keyframes subirDescer{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(0px);
    }
}

.my-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.personal-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-info h3{
    display: flex;
    gap: 5px;
}

#special-word{
    color: rgb(209, 74, 17);
}

.personal-info h3,p{
    color: white;
}

.container-personal-icons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.container-personal-icons a i{
    border: 1px solid;
    padding: 12px;
    border-radius: 50%;
    margin-left: 30px;
    color: white;
}


@media (max-width:1000px){

    .container-info{
        gap: 0;
    }

    .my-foto{
        width: 320px;
        height: 320px;
    }

    #animated-foto{
        width: 80%;
        height: 80%;
    }

    .my-info{
        width: 70%;
        margin-right: 20px;
    }
}

@media (max-width:820px){

    .container-info{
        flex-direction: column;
    }

}

@media (max-width:760px){

    .personal-info h3{
        font-size: 1rem;
    }
}

@media (max-width:730px){

    .my-foto{
        width: 260px;
        height: 260px;
    }

    .my-info{
        width: 80%;
    }

    .personal-info p{
        font-size: 0.9rem;
    }

    .container-personal-icons h4{
        font-size: 0.9rem;
    }

    .container-personal-icons a i{
        padding: 9px;
        margin-left: 10px;
    }
}

@media (max-width:520px){

    .container-info{
        margin-top: 80px;
    }

    .my-info{
        width: 100%;
    }
}

@media (max-width:400px){

    .personal-info h3{
        font-size: 0.85rem;
    }

    .personal-info p{
        font-size: 0.8rem;
    }

    .container-personal-icons h4{
        font-size: 0.8rem;
    }

    .my-foto{
        width: 230px;
        height: 230px;
    }
}