.container-info{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
    margin-left: 10%;
}

.my-foto {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 350px;
}
  
  #animated-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    animation: subirDescer 4s ease-in-out infinite;
}
  

@keyframes subirDescer{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.my-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.personal-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-info h3{
    display: flex;
    gap: 7px;
}

#special-word{
    color: rgb(209, 74, 17);
}

.personal-info h3,p{
    color: white;
}

nav{
    display: flex;
    gap: 50px;
}

nav a i{
    border: 1px solid;
    padding: 12px;
    border-radius: 50%;
}