.project{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.card-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.card-projects h3{
    font-size: 2.2rem;
}

.card-projects h4{
    font-size: 1.35rem;
}

.card-projects img{
    width: 620px;
    height: 410px;
    border: 3px solid blue;
    border-radius: 15px;
}

.card-projects img:hover{
    transform: scale(1.04);
    transition: transform 0.4s ease-in-out;
}

.card-projects p{
    font-size: 1.3rem;
}

.card-projects a{
    background-color: rgb(197, 39, 78);
    padding: 10px;
    border-radius: 15px;
    font-size: 1.15rem;
    border: 3px solid rgb(22, 231, 151);
}

.card-projects a:hover{
    background-color: aliceblue;
}


@media (max-width: 1750px){

    .card-projects h3{
        font-size: 1.75rem;
    }

    .card-projects h4{
        font-size: 1.2rem;
    }

    .card-projects img{
        width: 540px;
        height: 370px;
    }

    .card-projects p{ 
        font-size: 1.15rem; 
    }

    .card-projects a{
        font-size: 1.07rem;
        padding: 6px;
    }
}

@media (max-width: 1350px) {
    
    .card-projects img{
        width: 480px;
        height: 330px;
    }
}